.movie-view {
  display: grid;
  grid-template-columns: 50% 50%;
}

.movie-poster {
  max-height: 50vh;
  margin-bottom: 5%;
}

.movie-director {
  margin-bottom: 10vh;
}

.left-container {
  padding-right: 10px;
}

.right-container {
  display: grid;
  grid-template-rows: auto auto;
  margin: auto;
}
