#movie-title{
  font-size: 2.8vh;
}

.left-container {
  display: grid;
}

.movie-poster {
  width: 50vw;
  max-width: 300px;
  margin-bottom: 8%;
}

.movie-director {
  margin-bottom: 10vh;
}

.left-container {
  padding-right: 10px;
}

.image-container {
  margin: auto;
}

.right-container {
  display: none;
}


.movie-description, .movie-genre, .movie-director {
  margin-top: 5vh;
}

@media only screen and (min-width: 750px) {

  .movie-view {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .right-container {
    display: grid;
    margin: auto;
  }

  .image-container {
    display: none;
  }
}
