.view-border-profileview {
  display: flex;
  justify-content: flex-end;
  width: 60vw;
  border-top: 5px solid #c62168;
  margin: auto;
  padding: 1% 1% 0 0;
}

.profile-details-container {
  padding: 5vw;
}

.fav-movie-item {
  margin-bottom: 2vh;
}

.trash-icon {
  margin-left: 3%;
}

.email, .birthday, .favourite-movies {
  margin-top: 5vh;
}

.favourite-movies {
  margin-bottom: 5vh;
}
