//--------------------------COMMON FEATURES-------------------------------------
h1 {
  font-size: 2.4vh;
}

h2 {
  font-size: 2.1vh;
}

.description-text {
  margin: 3vh 0 3vh 0;
  text-align: justify;
  font-size: 1.8vh;
}

.label {
  margin: 5%;
}

.view-border {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  border-top: 5px solid #c62168;
  margin: auto;
  padding: 1vw 1vw 0 0;
}

.standard-button {
  color: #c62168;
  background-color: #fff;
  border: 2px solid #c62168;
  border-radius: 50px;
  margin-left: 1vw;
  font-size: 1.8vh;
}

.standard-button:hover {
  color: #fff;
  background-color: #c62168;
  text-decoration: none;
}

.subview-title {
  margin-top: 6vh;
  margin-bottom: 3vh;
  font-size: 3.5vh;
  text-align: center;
}

//-------------------------MAIN PAGE FEATURES-----------------------------------

.main-view {
  display: grid;
  grid-template-rows: auto auto;
}

.menue {
  margin: 5% 5% 0 5%;
}

.header-innercontainer {
  display: grid;
  max-width: 1000px;
  grid-template-rows: auto auto;
  margin: auto;
}

.top-container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.logo {
  width: 100%;
  height: auto;
  margin: auto;
}

.svg-title {
  width: 100%;
  font-family: "Anton";
  margin: auto;
}

.svg-bud-spencer {
  fill: #c62168;
}

.svg-movies {
  fill: #c62168;
}

.menue-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.menue-buttons:hover {
  color: #c62168;
}

.menue-buttons {
  color: #c62168;
  font-size: 2vh;
}

.page {
  max-width: 1000px;
  margin: auto;
  padding: 10vh 7vh 3vh 7vh;
}
