//--------------------------COMMON FEATURES-------------------------------------
h1 {
  color: #fff;
  font-size: 5vh;
}

h2 {
  font-size: 2.5vh;
}

.description-text {
  margin: 3vh 0 3vh 0;
  text-align: justify;
}

.label {
  margin: 5% 0 5% 5%;
}

.standard-button {
  color: #fc4a1a;
  background-color: #fff;
  border: 2px solid #fc4a1a;
}

.standard-button:hover {
  color: #fff;
  background-color: #fc4a1a;
  text-decoration: none;
}

.buttons-next {
  margin-right: 10px;
}

//-------------------------MAIN PAGE FEATURES-----------------------------------

.main-view {
  display: grid;
  grid-template-rows: auto auto;
}

.menue {
  margin-top: 5vh;
  background-color: #fc4a1a;
}

.header-innercontainer {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1000px;
  padding: 5vh;
  margin: auto;
}

.page {
  max-width: 1000px;
  padding: 5vh;
  margin: auto;
}

.menue-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menue-buttons:hover {
  color: #fff;
}

.menue-buttons {
  color: #fff;
  font-size: 2vh;
}
