//--------------------------COMMON FEATURES-------------------------------------
h1 {
  color: #fff;
  font-size: 5vh;
}

h2 {
  font-size: 2.5vh;
}

.description-text {
  margin: 3vh 0 3vh 0;
  text-align: justify;
}

.label {
  margin: 5%;
}

.view-border {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  border-top: 5px solid #c62168;
  margin: auto;
  padding: 1% 1% 0 0;
}

.standard-button {
  color: #c62168;
  background-color: #fff;
  border: 2px solid #c62168;
  border-radius: 50px;
  margin-left: 1vw;
}

.standard-button:hover {
  color: #fff;
  background-color: #c62168;
  text-decoration: none;
}

.subview-title {
  margin-top: 6vh;
  margin-bottom: 3vh;
  font-size: 3.5vh;
  text-align: center;
}

//-------------------------MAIN PAGE FEATURES-----------------------------------

.main-view {
  display: grid;
  grid-template-rows: 30vh auto;
}

.menue {
  margin-top: 5vh;
  background-color: #fff;
}

.header-innercontainer {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1000px;
  margin: auto;
}

.img-container {
  grid-template-columns: auto auto;
}

.logo {
  max-height: 22vh;
}

.svg-title {
  max-height: 25vh;
  font-family: "Anton";
}

.svg-bud-spencer {
  fill: #c62168;
}

.svg-movies {
  fill: #c62168;
}

.page {
  max-width: 1000px;
  padding: 0 10vh 0 10vh;
  margin: 10vh auto 10vh auto;
}

.menue-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menue-buttons:hover {
  color: #c62168;
}

.menue-buttons {
  color: #c62168;
  font-size: 2vh;
}
